@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'insideoutfont';
  src: url('insideoutfont.ttf') format('truetype');
}

@layer base {
  body {
    font-family: 'insideoutfont', system-ui, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'insideoutfont', system-ui, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

.animate-fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.7s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}